.modal {
    position: fixed;
    align-content: center;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.conteudo-modal {
    position: fixed;
    top: 20%;
    left: 50%;
    background-color: #fefefe;
    padding: 30px;
}

.fechar {
    color: #aaaaaa;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 28px;
    font-weight: bold;
}

.fechar:hover,
.fechar:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

input {
    padding: 0 8px !important;
    margin: 0 !important;
}
